
*.log
ModelImporter/x64/Debug/ModelImporter.tlog/unsuccessfulbuild
*.ini
*.log
*.db
.vs/SEngine/v15/.suo
*.db-shm
*.db-wal
*.log
*.log
01_HelloQuarternion/Debug/01_HelloQuarternion.vcxproj.FileListAbsolute.txt
01_HelloQuarternion/Release/01_HelloQuarternion.vcxproj.FileListAbsolute.txt
01_HelloQuarternion/x64/Debug/01_HelloQuarternion.vcxproj.FileListAbsolute.txt
01_HelloQuarternion/x64/Release/01_HelloQuarternion.vcxproj.FileListAbsolute.txt
01_HelloWindow/Debug/01_HelloWindow.vcxproj.FileListAbsolute.txt
01_HelloWindow/Release/01_HelloWindow.vcxproj.FileListAbsolute.txt
01_HelloWindow/x64/Debug/01_HelloWindow.vcxproj.FileListAbsolute.txt
01_HelloWindow/x64/Release/01_HelloWindow.vcxproj.FileListAbsolute.txt
02_HelloAnimation/Debug/02_HelloAnimation.vcxproj.FileListAbsolute.txt
02_HelloAnimation/Release/02_HelloAnimation.vcxproj.FileListAbsolute.txt
02_HelloAnimation/x64/Debug/02_HelloAnimation.vcxproj.FileListAbsolute.txt
02_HelloAnimation/x64/Release/02_HelloAnimation.vcxproj.FileListAbsolute.txt
02_HelloD3D/Debug/02_HelloD3D.vcxproj.FileListAbsolute.txt
02_HelloD3D/Release/02_HelloD3D.vcxproj.FileListAbsolute.txt
02_HelloD3D/x64/Debug/02_HelloD3D.vcxproj.FileListAbsolute.txt
02_HelloD3D/x64/Release/02_HelloD3D.vcxproj.FileListAbsolute.txt
03_HelloCube/Debug/03_HelloCube.vcxproj.FileListAbsolute.txt
03_HelloCube/Release/03_HelloCube.vcxproj.FileListAbsolute.txt
03_HelloCube/x64/Debug/03_HelloCube.vcxproj.FileListAbsolute.txt
03_HelloCube/x64/Release/03_HelloCube.vcxproj.FileListAbsolute.txt
04_HelloCamera/Debug/04_HelloCamera.vcxproj.FileListAbsolute.txt
04_HelloCamera/Release/04_HelloCamera.vcxproj.FileListAbsolute.txt
04_HelloCamera/x64/Debug/04_HelloCamera.vcxproj.FileListAbsolute.txt
04_HelloCamera/x64/Release/04_HelloCamera.vcxproj.FileListAbsolute.txt
05_HelloTexture/Debug/05_HelloTexture.vcxproj.FileListAbsolute.txt
05_HelloTexture/Release/05_HelloTexture.vcxproj.FileListAbsolute.txt
05_HelloTexture/x64/Debug/05_HelloTexture.vcxproj.FileListAbsolute.txt
05_HelloTexture/x64/Release/05_HelloTexture.vcxproj.FileListAbsolute.txt
06_HelloLight/Debug/06_HelloLight.vcxproj.FileListAbsolute.txt
06_HelloLight/Release/06_HelloLight.vcxproj.FileListAbsolute.txt
06_HelloLight/x64/Debug/06_HelloLight.vcxproj.FileListAbsolute.txt
06_HelloLight/x64/Release/06_HelloLight.vcxproj.FileListAbsolute.txt
07_HelloLightingPhongShader/Debug/07_HelloLightingPhongShader.vcxproj.FileListAbsolute.txt
07_HelloLightingPhongShader/Release/07_HelloLightingPhongShader.vcxproj.FileListAbsolute.txt
07_HelloLightingPhongShader/x64/Debug/07_HelloLightingPhongShader.vcxproj.FileListAbsolute.txt
07_HelloLightingPhongShader/x64/Release/07_HelloLightingPhongShader.vcxproj.FileListAbsolute.txt
07_HelloPointLight/Debug/07_HelloPointLight.vcxproj.FileListAbsolute.txt
07_HelloPointLight/Release/07_HelloPointLight.vcxproj.FileListAbsolute.txt
07_HelloPointLight/x64/Debug/07_HelloPointLight.vcxproj.FileListAbsolute.txt
07_HelloPointLight/x64/Release/07_HelloPointLight.vcxproj.FileListAbsolute.txt
08_HelloTextureMap/Debug/08_HelloTextureMap.vcxproj.FileListAbsolute.txt
08_HelloTextureMap/Release/08_HelloTextureMap.vcxproj.FileListAbsolute.txt
08_HelloTextureMap/x64/Debug/08_HelloTextureMap.vcxproj.FileListAbsolute.txt
08_HelloTextureMap/x64/Release/08_HelloTextureMap.vcxproj.FileListAbsolute.txt
08_HelloTextureMapNC/Debug/08_HelloTextureMapNC.vcxproj.FileListAbsolute.txt
08_HelloTextureMapNC/Release/08_HelloTextureMapNC.vcxproj.FileListAbsolute.txt
08_HelloTextureMapNC/x64/Debug/08_HelloTextureMapNC.vcxproj.FileListAbsolute.txt
08_HelloTextureMapNC/x64/Release/08_HelloTextureMapNC.vcxproj.FileListAbsolute.txt
09_HelloPostProcessing/Debug/09_HelloPostProcessing.vcxproj.FileListAbsolute.txt
09_HelloPostProcessing/Release/09_HelloPostProcessing.vcxproj.FileListAbsolute.txt
09_HelloPostProcessing/x64/Debug/09_HelloPostProcessing.vcxproj.FileListAbsolute.txt
09_HelloPostProcessing/x64/Release/09_HelloPostProcessing.vcxproj.FileListAbsolute.txt
10_HelloShadowMapping/Debug/10_HelloShadowMapping.vcxproj.FileListAbsolute.txt
10_HelloShadowMapping/Release/10_HelloShadowMapping.vcxproj.FileListAbsolute.txt
10_HelloShadowMapping/x64/Debug/10_HelloShadowMapping.vcxproj.FileListAbsolute.txt
10_HelloShadowMapping/x64/Release/10_HelloShadowMapping.vcxproj.FileListAbsolute.txt
11_HelloMirror/Debug/11_HelloMirror.vcxproj.FileListAbsolute.txt
11_HelloMirror/Release/11_HelloMirror.vcxproj.FileListAbsolute.txt
11_HelloMirror/x64/Debug/11_HelloMirror.vcxproj.FileListAbsolute.txt
11_HelloMirror/x64/Release/11_HelloMirror.vcxproj.FileListAbsolute.txt
14_HelloRobotArm/Debug/14_HelloRobotArm.vcxproj.FileListAbsolute.txt
14_HelloRobotArm/Release/14_HelloRobotArm.vcxproj.FileListAbsolute.txt
14_HelloRobotArm/x64/Debug/14_HelloRobotArm.vcxproj.FileListAbsolute.txt
14_HelloRobotArm/x64/Release/14_HelloRobotArm.vcxproj.FileListAbsolute.txt
15_HelloSkeleton/Debug/15_HelloSkeleton.vcxproj.FileListAbsolute.txt
15_HelloSkeleton/Release/15_HelloSkeleton.vcxproj.FileListAbsolute.txt
15_HelloSkeleton/x64/Debug/15_HelloSkeleton.vcxproj.FileListAbsolute.txt
15_HelloSkeleton/x64/Release/15_HelloSkeleton.vcxproj.FileListAbsolute.txt
16_HelloPhysics/Debug/16_HelloPhysics.vcxproj.FileListAbsolute.txt
16_HelloPhysics/Release/16_HelloPhysics.vcxproj.FileListAbsolute.txt
16_HelloPhysics/x64/Debug/16_HelloPhysics.vcxproj.FileListAbsolute.txt
16_HelloPhysics/x64/Release/16_HelloPhysics.vcxproj.FileListAbsolute.txt
2DMarble/Debug/2DMarble.vcxproj.FileListAbsolute.txt
2DMarble/Release/2DMarble.vcxproj.FileListAbsolute.txt
2DMarble/x64/Debug/2DMarble.vcxproj.FileListAbsolute.txt
2DMarble/x64/Release/2DMarble.vcxproj.FileListAbsolute.txt
2DMarbleServer/Debug/2DMarbleServer.vcxproj.FileListAbsolute.txt
2DMarbleServer/Release/2DMarbleServer.vcxproj.FileListAbsolute.txt
2DMarbleServer/x64/Debug/2DMarbleServer.vcxproj.FileListAbsolute.txt
2DMarbleServer/x64/Release/2DMarbleServer.vcxproj.FileListAbsolute.txt
*.recipe
Slayer/Release/Slayer.vcxproj.FileListAbsolute.txt
Slayer/x64/Debug/Slayer.vcxproj.FileListAbsolute.txt
Slayer/x64/Release/Slayer.vcxproj.FileListAbsolute.txt
StaticRayTracing/Debug/StaticRayTracing.vcxproj.FileListAbsolute.txt
StaticRayTracing/Release/StaticRayTracing.vcxproj.FileListAbsolute.txt
Slayer/Debug/Slayer.vcxproj.FileListAbsolute.txt
RTSGame/x64/Release/RTSGame.vcxproj.FileListAbsolute.txt
RTSGame/x64/Debug/RTSGame.vcxproj.FileListAbsolute.txt
RTSGame/Release/RTSGame.vcxproj.FileListAbsolute.txt
RTSGame/Debug/RTSGame.vcxproj.FileListAbsolute.txt
RayTracing/x64/Release/RayTracing.vcxproj.FileListAbsolute.txt
RayTracing/x64/Debug/RayTracing.vcxproj.FileListAbsolute.txt
RayTracing/Release/RayTracing.vcxproj.FileListAbsolute.txt
RayTracing/Debug/RayTracing.vcxproj.FileListAbsolute.txt
StaticRayTracing/x64/Debug/StaticRayTracing.vcxproj.FileListAbsolute.txt
StaticRayTracing/x64/Release/StaticRayTracing.vcxproj.FileListAbsolute.txt
MapEditor/x64/Release/MapEditor.vcxproj.FileListAbsolute.txt
MapEditor/x64/Debug/MapEditor.vcxproj.FileListAbsolute.txt
MapEditor/Release/MapEditor.vcxproj.FileListAbsolute.txt
Math/x64/Debug/Math.vcxproj.FileListAbsolute.txt
Math/x64/Release/Math.vcxproj.FileListAbsolute.txt
MapEditor/Debug/MapEditor.vcxproj.FileListAbsolute.txt
Input/x64/Release/Input.vcxproj.FileListAbsolute.txt
Input/x64/Debug/Input.vcxproj.FileListAbsolute.txt
Input/Release/Input.vcxproj.FileListAbsolute.txt
Input/Debug/Input.vcxproj.FileListAbsolute.txt
HelloWorld/x64/Release/HelloWorld.vcxproj.FileListAbsolute.txt
HelloWorld/x64/Debug/HelloWorld.vcxproj.FileListAbsolute.txt
HelloWorld/Release/HelloWorld.vcxproj.FileListAbsolute.txt
HelloWorld/Debug/HelloWorld.vcxproj.FileListAbsolute.txt
Graphics/x64/Release/Graphics.vcxproj.FileListAbsolute.txt
Graphics/x64/Debug/Graphics.vcxproj.FileListAbsolute.txt
Graphics/Release/Graphics.vcxproj.FileListAbsolute.txt
Graphics/Debug/Graphics.vcxproj.FileListAbsolute.txt
Geometry/x64/Release/Geometry.vcxproj.FileListAbsolute.txt
Geometry/x64/Debug/Geometry.vcxproj.FileListAbsolute.txt
Geometry/Release/Geometry.vcxproj.FileListAbsolute.txt
Geometry/Debug/Geometry.vcxproj.FileListAbsolute.txt
GATravellingSalesman/x64/Release/GATravellingSalesman.vcxproj.FileListAbsolute.txt
GATravellingSalesman/x64/Debug/GATravellingSalesman.vcxproj.FileListAbsolute.txt
GATravellingSalesman/Release/GATravellingSalesman.vcxproj.FileListAbsolute.txt
GATravellingSalesman/Debug/GATravellingSalesman.vcxproj.FileListAbsolute.txt
GameEngine/x64/Release/GameEngine.vcxproj.FileListAbsolute.txt
GameEngine/x64/Debug/GameEngine.vcxproj.FileListAbsolute.txt
GameEngine/Release/GameEngine.vcxproj.FileListAbsolute.txt
GameEngine/Debug/GameEngine.vcxproj.FileListAbsolute.txt
External/TinyXML/Release/TinyXML.vcxproj.FileListAbsolute.txt
External/TinyXML/Debug/TinyXML.vcxproj.FileListAbsolute.txt
External/ImGui/x64/Release/ImGui.vcxproj.FileListAbsolute.txt
External/ImGui/x64/Debug/ImGui.vcxproj.FileListAbsolute.txt
External/ImGui/Release/ImGui.vcxproj.FileListAbsolute.txt
*.cache
External/ImGui/Debug/ImGui.vcxproj.FileListAbsolute.txt
External/DirectXTK/MakeSpriteFont/obj/Release/.NETFramework,Version=v4.0,Profile=Client.AssemblyAttributes.cs
External/DirectXTK/MakeSpriteFont/obj/Debug/.NETFramework,Version=v4.0,Profile=Client.AssemblyAttributes.cs
External/DirectXTK/Bin/Desktop_2017/x64/Release/DirectXTK_Desktop_2017.vcxproj.FileListAbsolute.txt
External/DirectXTK/Bin/Desktop_2017/x64/Debug/DirectXTK_Desktop_2017.vcxproj.FileListAbsolute.txt
External/DirectXTK/Bin/Desktop_2017/Win32/Release/DirectXTK_Desktop_2017.vcxproj.FileListAbsolute.txt
External/DirectXTK/Bin/Desktop_2017/Win32/Debug/DirectXTK_Desktop_2017.vcxproj.FileListAbsolute.txt
DriverSimulator/x64/Release/DriverSimulator.vcxproj.FileListAbsolute.txt
DriverSimulator/x64/Debug/DriverSimulator.vcxproj.FileListAbsolute.txt
DriverSimulator/Release/DriverSimulator.vcxproj.FileListAbsolute.txt
DriverSimulator/Debug/DriverSimulator.vcxproj.FileListAbsolute.txt
Core/x64/Release/Core.vcxproj.FileListAbsolute.txt
Core/x64/Debug/Core.vcxproj.FileListAbsolute.txt
Core/Release/Core.vcxproj.FileListAbsolute.txt
Core/Debug/Core.vcxproj.FileListAbsolute.txt
AI/x64/Release/AI.vcxproj.FileListAbsolute.txt
AI/x64/Debug/AI.vcxproj.FileListAbsolute.txt
AI/Release/AI.vcxproj.FileListAbsolute.txt
AI/Debug/AI.vcxproj.FileListAbsolute.txt
EngineCodeTest/Debug/EngineCodeTest.vcxproj.FileListAbsolute.txt
EngineCodeTest/x64/Debug/EngineCodeTest.vcxproj.FileListAbsolute.txt
EngineCodeTest/x64/Release/EngineCodeTest.tlog/unsuccessfulbuild
EngineCodeTest/x64/Release/EngineCodeTest.vcxproj.FileListAbsolute.txt
EngineCodeTest/Release/EngineCodeTest.vcxproj.FileListAbsolute.txt
MapEditor/x64/Debug/MapEditor.tlog/unsuccessfulbuild
Math/Debug/Math.vcxproj.FileListAbsolute.txt
Math/Release/Math.vcxproj.FileListAbsolute.txt
MathTest/Debug/MathTest.vcxproj.FileListAbsolute.txt
MathTest/Release/MathTest.vcxproj.FileListAbsolute.txt
MathTest/x64/Debug/MathTest.vcxproj.FileListAbsolute.txt
MathTest/x64/Release/MathTest.vcxproj.FileListAbsolute.txt
ModelImporter/Debug/ModelImporter.vcxproj.FileListAbsolute.txt
ModelImporter/Release/ModelImporter.vcxproj.FileListAbsolute.txt
ModelImporter/x64/Debug/ModelImporter.vcxproj.FileListAbsolute.txt
ModelImporter/x64/Release/ModelImporter.vcxproj.FileListAbsolute.txt
Network/Debug/Network.vcxproj.FileListAbsolute.txt
Network/Release/Network.vcxproj.FileListAbsolute.txt
Network/x64/Debug/Network.vcxproj.FileListAbsolute.txt
Network/x64/Release/Network.vcxproj.FileListAbsolute.txt
Physics/Debug/Physics.vcxproj.FileListAbsolute.txt
Physics/Release/Physics.vcxproj.FileListAbsolute.txt
Physics/x64/Debug/Physics.vcxproj.FileListAbsolute.txt
Physics/x64/Release/Physics.vcxproj.FileListAbsolute.txt
